appdirs                
beautifulsoup4         
brotlipy              
certifi               
cffi                   
chardet               
click                 
cryptography          
cycler                
distlib               
filelock              
Flask                
idna                  
itsdangerous           
Jinja2                
joblib                
kiwisolver            
MarkupSafe           
matplotlib             
numpy                 
opencv-python         
pandas               
Pillow                      
pycosat            
pycparser              
pyOpenSSL            
pyparsing             
PySocks                
python-dateutil        
pytz                  
pyzbar                
requests             
scikit-learn           
scipy                 
setuptools            
six                    
sklearn               
soupsieve             
threadpoolctl         
tqdm                   
urllib3                  
Werkzeug         
